@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   body{
      @apply bg-black
   }
   body::-webkit-scrollbar{
      width: 0px;
   }
}

@layer components{
   /* Navbar styles */
   .headerLink{
      @apply font-bold mx-4 cursor-pointer text-lg hover:text-red-500 duration-75;
   }

   .headerLink:first-child{
      @apply ml-0
   }

   .headerLink:last-child{
      @apply mr-0
   }

   .searchIcon{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
   }

   .userContainer{
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      cursor: pointer;
   }

   .menu-items{
      display: none
   }

   .menu:hover > .menu-items{
      display: flex;
      flex-direction: column;
      margin-right: 50px;
      top: 40px;
      width: 100px;
      text-align: center;
   }

   .menu-items > .button{
      font-weight: 600;
      margin-top: 5px;
   }

   /* End of Navbar styles */

   /* Banner Styles */
   .bannerBtn{
      @apply flex px-5 py-3 items-center;
   }

   .bannerBtnIcon{
      @apply mr-2
   }
   /* End of Banner Styles */

   .moviesContainer::-webkit-scrollbar{
      width: 0px;
      height: 0px;
   }

   /*Login styles*/
   .loginInput{
      @apply w-full rounded outline-none bg-[#333] px-5 py-3.5 placeholder-[gray] focus:bg-[#454545] text-white;
   }
   /*End of Login Styles*/

   .modal::-webkit-scrollbar{
      width:0px;
      height:0px;
   }

   .modalButton{
      @apply flex items-center justify-center rounded-full;
   }
}